<% if @guest %>
<h2><%= @user.username %></h2>
<% @posts.each do |post| %>
		<div class="post_preview">
			<% if post.photos.first %>
			<% url = Dragonfly.app.fetch(post.photos.first.image_uid) %>
			<%= image_tag url.thumb('100x100').url %>
			<% end %>
			<div class="content">
					<div class="title">
						<%= post.title %>
					</div>
					<div class="date">
						<%= post.created_at %>
					</div>
					<div class="body">
						<%= post.body %>
					</div>
			</div>
			<div class="revenue">
				$4.95
			</div>
		</div>
	<% end %>
<% else %>
<div id="user_nav_bar"> 
	Welcome back, <%= @user.firstname %>!
</div>
<div id="post_side">
	<h2>New Post</h2>
	<%= form_for @post, url: user_posts_path(@user), html:{class: "post_form", multipart: true} do |f| %>
		 <%= file_field_tag :image %>
		<%= select_tag(:category1, options_for_select([["News","news"],["Home","home"],["Business","business"],["Technology","tech"],["Sports","sports"],["Entertainment","entertainment"],["Health","health"],["Science","Science"]])) %>
		<%= select_tag(:category2, options_for_select([["News","news"],["Home","home"],["Business","business"],["Technology","tech"],["Sports","sports"],["Entertainment","entertainment"],["Health","health"],["Science","Science"]])) %>
		<%= select_tag(:category3, options_for_select([["News","news"],["Home","home"],["Business","business"],["Technology","tech"],["Sports","sports"],["Entertainment","entertainment"],["Health","health"],["Science","Science"]])) %>
		<%= f.text_field :title, placeholder: "Title" %>
		<%= text_area_tag(:body, "Hi, nice site") %>
		<%= f.submit "Post"%>

   <% end %>
</div>


<div id="archive_side">
	<h2>Manage Posts</h2>
	<% @posts.each do |post| %>
		<div class="post_preview">
			<% if post.photos.first %>
			<% url = Dragonfly.app.fetch(post.photos.first.image_uid) %>
			<%= image_tag url.thumb('100x100').url %>
			<% end %>
			<div class="content">
				<ul>
					<li><a id= <%=post.id%> class="edit_post">Edit</a></li>
					<li><a id = <%=post.id%> class="delete_post">Delete</a></li>
				</ul>
					<div class="title">
						<%= post.title %>
					</div>
					<div class="date">
						<%= post.created_at %>
					</div>
					<div class="body">
						<%= post.body %>
					</div>
			</div>
		</div>
	<% end %>
</div>
<% end %>
