<div id="post_scroller">
	<div id="inner_post">
		<% @users_with_posts.each do |user, posts| %>
			<div class="column">
				<div class="user_tag">
					<span class="slash">/</span><%= link_to user.username, user_path(user, :guest => "yes") %>
				</div>
				<% posts.each do |post| %>
					<% if post['type'] == 'tweet' %>
						<div class="post_preview twitter_post">
							<img src = <%= post['profile_image'] %> </img>
							<a href=<%= post['link'] %>>@<%= post['handle']%></a>
							<%= post['body'][0..200] %>
							<div class="date">
								<%= post['created_at'] %>
							</div>
						</div>
					<% else%>
						<div class="post_preview">
							<div class="content">
								<div class="title">
									<%= post['title'] %>
								</div>
								<div class="date">
									<%= post['created_at'] %>
								</div>
								<div class="body">
									<% if post['url'] %>
										<%= image_tag post['url'] %>
									<% else %>
										<%= post['body']%>
									<% end %>
								</div>
							</div>
						</div>
					<% end %>
				<% end %>
			</div>
		<% end %>
	</div>
</div>