<div id="post_scroller">
	<div id="inner_post">
		<% @users_with_posts.each do |user| %>
			<div class="column">
				<div class="user_tag">
					<%= link_to  user.username, user_path(user, :guest => "yes") %>
				</div>
				<% user.posts.order('created_at DESC').each do |post| %>
					<div class="post_preview">
						<div class="content">
							<div class="title">
								<%= link_to post.title, user_post_path(user,post) %>
							</div>
							<div class="date">
								<%= post.created_at.strftime("%B %d, %Y") %>
							</div>

							<div class="body">
								<% if post.photos.first %>
									<% url = Dragonfly.app.fetch(post.photos.first.image_uid) %>
									<%= image_tag url.url %>
								<% else %>
									<%= post.body[0..200]%>
								<% end %>
							</div>
						</div>
					</div>
				<% end %>
			</div>
		<% end %>
	</div>
</div>