
		<div class = "container">
			<div id="header">
				<div id="logo">
					<a href="/"><img src="/assets/blog_bank_logo.png"></img></a>
				</div>
					<select id="category_filter">
						<option name="filter" value="news">News</option>
						<option name="filter" value="sports">Sports</option>
						<option name="filter" value="entertainment">Entertainment</option>
						<option name="filter" value="health">Health</option>
						<option name="filter" value="business">Business</option>
						<option name="filter" value="science">Science</option>
					</select>
				<div class="navbar">
					<div id="login_form">
						<%= form_for :session, url: login_path, html: {class: "login_form"} do  |f| %>
							<%= f.label :email, "Email" %>
							<%= f.text_field :email, placeholder: "Email" %>
							<%= f.label :password , "Password"%>
							<%= f.password_field :password, placeholder: "Password" %>
						    <%= f.submit "Log in" %>
						    <div style="clear:both">
						    </div>

						<% end %>
						<div id="sign_up_box">
							<div class="new">New to Blogbank?</div>
							<ul>
								<li><a href="#">Sign Up</a></li>
								<li><a href="#">How it works</a></li>
							</ul>
							<hr>
							<div class="new">Existing Bloggers</div>
							<ul>
								<li><a href="#">Members Forum</a></li>
								<li><a href="#">Legal</a></li>
							</ul>
						</div>
					</div>
					<ul>
						<li><a href="/about">About us</a></li>
						<%if session[:user_id] %>
							<li><%=link_to "My Account", user_path(session[:user_id]) %></a></li>
							<li><%=link_to "Log Out", logout_path %></a></li>
						<% else %>
							<li><a  id="member_center_link">Member Center</a></li>
						<% end %>
					</ul>
					<ul class="social_media">
						<li>T</li>
						<li>F</li>
						<li>G</li>
						<li>L</li>
					</ul>
				</div>
				<div id="searchbar">
					<input type="text" id="search_bar" placeholder="Search all blogs..."><button id="search_button" type="submit">Go!</button>
				</div>
			</div>
			<div id="wrapper">